<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Pragma" content="no-cache">
		<title>{{title}}</title>
		<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/custom-theme.css') }}">
		<link href='https://fonts.googleapis.com/css?family=Poiret+One&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<script type="text/javascript">
			 function saveImage(){
                	var canvas = document.getElementById("myCanvas");
					var dataURL = canvas.toDataURL("image/png", 1.0);
					var formdata = new FormData();
					formdata.append("edited_file", dataURL);
					$.ajax({
       			  		 	type: 'POST',
        		  		 	url: '/uploadedited',
            				data: formdata,
            				contentType: false,
            				cache: false,
            				processData: false,
            				async: false,
            				success: function(data) {
                			console.log('Success!');
                			window.alert('success!');
            		},});
			 	
			 }
		</script>
	    <pre><p class="line_range">Size:        <input class="myslider" type="range" min="0.2" max="100" id="size" value="100" oninput="sizePic()"></p></pre>
	    <pre><p class="line_range">Brightness: <input class="myslider" type="range" min="-100.0" max="100" id="brightness" value="0" oninput="editBrightness()"></p></pre>
	    <pre><p class="line_range">Сontrast:   <input class="myslider" type="range" min="-100" max="100" id="contrast"  value="0" oninput="editContrast()"></p></pre>
	    <button id="uplod_edited_pic" type="button" class="btn btn-default btn-lg btn-block" onclick= "saveImage();">Save edited picture</button>
	    <div id = "canvas_div">
	        <canvas id="myCanvas">Change your browser,please!</canvas>
	   </div>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	    <script type="text/javascript">
	        window.onload = function(){
	            elem = document.getElementById('myCanvas');
	            if (elem && elem.getContext) {
	                context = elem.getContext('2d');
	                img = new Image();
	                img.src = "{{img_path}}";
	                img.onload = function(){
	                    elem.width = img.width;
	                    elem.height = img.height;
	                    current_w = img.width;
	                    current_h = img.height;
	                    context.drawImage(img, 0, 0);
	                 
	                    }
	               }
	        }
	        
	        
	        function sizePic() {
                size = document.getElementById("size").value;
                elem.width = img.width*size/100;
                elem.height = img.height*size/100;
                current_w = img.width*size/100;
                current_h = img.height*size/100;
             	context.drawImage(img, 0, 0, current_w, current_h);
             	editBrightness()
             	editContrast()
            }
            
            
            function editBrightness(){
                brightness = document.getElementById("brightness").value;
                img = new Image();
	            img.src = "{{img_path}}";
	            elem.width = current_w;
	            elem.height = current_h;
	            context.drawImage(img, 0, 0, current_w, current_h);
                imgd = context.getImageData(0, 0, img.width, img.height);
                pix = imgd.data;
                brightness =parseInt(brightness);
                for (var i = 0; i<pix.length; i += 4) {
                	pix[i] = pix[i] + brightness; // красный канал
                	if (pix[i] < 0){
                		pix[i] = 0;
                		
                	}
                	if (pix[i] > 255){
                		pix[i] = 255;
                		
                	}
                	pix[i+1] = pix[i+1] + brightness; // зеленый канал
                	if (pix[i+1] < 0){
                		pix[i+1] = 0;
                		
                	}
                	if (pix[i+1] > 255){
                		pix[i+1] = 255;
                		
                	}
                	pix[i+2] = pix[i+2] + brightness; // синий канал
                	if (pix[i+2] <0){
                		pix[i+2] = 0;
                		
                	}
            		if (pix[i+2] >255){
            			pix[i+2] = 255;
            			
            		}
                }
            	context.putImageData(imgd, 0, 0);
            	
            }
            
            
            function editContrast() {
                contrast = 0 - document.getElementById("contrast").value;
               	img = new Image();
	            img.src = "{{img_path}}";
	            elem.width = current_w;
	            elem.height = current_h;
	            context.drawImage(img, 0, 0, current_w, current_h);
	            editBrightness();
                imgd_c = context.getImageData(0, 0, img.width, img.height);
                pix_c = imgd_c.data;
                contrast = parseInt(contrast);
                sumBrightness = 0;
                for (var i = 0; i<pix_c.length; i += 4) {
                	valueR = pix_c[i];
                	valueG = pix_c[i+1];
                	valueB = pix_c[i+2];
                	sumBrightness += parseInt(valueR * 0.299 + valueG * 0.587 + valueB * 0.114);
                }
                averageBrightness = parseInt(sumBrightness*4 / pix_c.length);
                //window.alert(averageBrightness);
                for (var i = 0; i < pix_c.length; i += 4){
                	valueR = pix_c[i];
                	valueG = pix_c[i+1];
                	valueB = pix_c[i+2];
                	eachBrightness = parseInt(valueR * 0.299 + valueG * 0.587 + valueB * 0.114);
                	delta = averageBrightness - eachBrightness;
                	pix_c[i] = valueR + delta*contrast/100;
                	pix_c[i+1]= valueG + delta*contrast/100;
                	pix_c[i+2] = valueB + delta*contrast/100;
                	if (pix_c[i] < 0){pix_c[i] = 0;}
                	if (pix_c[i] > 255){pix_c[i] = 255;}
                	if (pix_c[i+1] < 0){pix_c[i+1] = 0;}
                	if (pix_c[i+1] > 255){pix_c[i+1] = 255;}
                	if (pix_c[i+2] < 0){pix_c[i+2] = 0;}
            		if (pix_c[i+2] > 255){pix_c[i+2] = 255;}
                }
                context.putImageData(imgd_c, 0, 0);
               
                
            }
               
            
	    </script>
	</body>
</html>