<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Pragma" content="no-cache">
		<title>{{title}}</title>
		<link rel="stylesheet" href= "{{ url_for('static', filename='css/bootstrap.min.css') }}" >
		<link rel="stylesheet" media="screen" href="{{ url_for('static', filename='css/custom-theme.css') }}">
		<link href='https://fonts.googleapis.com/css?family=Poiret+One&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700&subset=cyrillic,latin' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div id="text">
						<table>
						<tr><h1 class="main-h">Engrave your picture</h1></tr>
			            <tr><h4 class="main-h">Сhoose image and get G-code </h4></tr>
		             	<tr></tr>
		            	<tr></tr>
		            	<tr>
		            		<form id="upload-file" action="" method="post" enctype="multipart/form-data">
		            			<p align="center"><input style="color:#ffffff;" type=file name=file></p>
   								<input id="upload-file-btn" class="btn btn-default btn-lg btn-block" name=file type="button" value="Load image"></p>
   							</form>
   						</tr>
   						<tr>
   							<button type="button" class="btn btn-default btn-lg btn-block" onclick="changeModel()">Watch 3D-model</button>
  						</tr>
  						<tr>
   							<form method="POST"  action="/download">
								<button id="download" type="sumbit" class="btn btn-default btn-lg btn-block">Get G-code</button>
							</form>
						</tr>
		</div>
		<script src="{{ url_for('static', filename='js/three.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/OrbitControls.js') }}"></script>
		<script>
				//основные объекты
					var scene = new THREE.Scene();
					var camera = new THREE.PerspectiveCamera( 45, (window.innerWidth)/window.innerHeight, 
															0.001, 10000 );
						camera.position.x = 0;
						camera.position.y = 250;
						camera.position.z = 10;
						
					var container = document.createElement('div');
					container.id = 'canvas'
					document.body.appendChild( container);
					var renderer = new THREE.WebGLRenderer({ alpha: true });
						renderer.setClearColor(0x000000, 0 );
						renderer.setSize( window.innerWidth, window.innerHeight );
						container.appendChild( renderer.domElement );
				//	оси		
					var axes = new THREE.AxisHelper( 20 );
						scene.add(axes);
				//источник света	
					var spotLight = new THREE.SpotLight( 0xffffff );
						spotLight.position.set( 40, 300, 0 );
						scene.add(spotLight );
				   	scene.add( new THREE.AmbientLight( 0x222222 ) );
					
				//загружаем модель
					var loader = new THREE.JSONLoader();
						//"{{ url_for('static', filename='model/m_start.js') }}"
						loader.load( "{{model_path}}", function( geometry ) {
							//geometry.computeFaceNormals();
							material = new THREE.MeshPhongMaterial(  { color: 0xbbbbbb, shininess: 50,
																			shading: THREE.SmoothShading});
							mesh = new THREE.Mesh( geometry, material );
							mesh.material.side = THREE.DoubleSide;
							mesh.position.x = 0;
							mesh.position.z = -50;
							scene.add( mesh );
						});
				//замена модели
					function changeModel(){
						scene.remove(mesh);
						loader.load("{{new_model_path}}",function(geometry) {
						  	var new_material = material;
						   	var new_mesh = new THREE.Mesh( geometry,new_material);
						    new_material.side = THREE.DoubleSide;
						    new_mesh.position.x = 0;
						    new_mesh.position.z = -50;
						    scene.add(new_mesh);
						});
					}
							
				//mouse
				var controls;
					controls = new THREE.OrbitControls(camera);
					controls.addEventListener( 'change',render );
					controls.update();
				
				//loop
					var time = 0.0; 
					function render(){				
						requestAnimationFrame(render);
						renderer.render(scene, camera);

					};
		
					render();
		</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="{{url_for('static', filename='js/upload.js')}}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	</body>
</html>